:root {
  --red: #BF4140;
  --white: #F5F5F5;
  --dark-grey: #39393A;
  --light-grey: #535353;

  --color-background: var(--white);
  --color-primary: var(--red);
  --color-text: var(--dark-grey);
  --color-link: var(--red);
  --color-border: #0000000a;

  --font-family-primary: Helvetica, Arial, sans-serif;

  --body-padding: 1.5rem;
  --content-max-width: 48rem;
  --card-gap: 1.5rem;
  --header-bottom-margin: 3rem;
  --section-bottom-margin: 2rem;
  --element-bottom-margin: 1.5rem;

  --breakpoint-large: 64rem;
  --breakpoint-medium: 48rem;
  --breakpoint-small-medium: 38rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-background);
  font-size: 100%;
  line-height: 1.2;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-text);
  padding: var(--body-padding);
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
    margin-top: var(--section-bottom-margin);
}
section > h2:first-of-type {
    margin-top: 0;
}


h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: var(--element-bottom-margin);
  font-size: 1.25rem;
}
p:last-child,
ul:last-child,
div.cards:last-child,
ul.cards:last-child {
    margin-bottom: 0;
}


ul {
  list-style-position: outside;
  padding-left: 1.5rem;
  margin-bottom: var(--element-bottom-margin);
}

li {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
li:last-child {
    margin-bottom: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

strong, b {
    font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--header-bottom-margin);
  flex-wrap: wrap;
  gap: 1rem;
}

.logo img {
    height: 75px;
    width: auto;
}

.social-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-nav img {
    height: 40px;
    width: auto;
}

main section {
    margin-bottom: var(--section-bottom-margin);
}
main section:last-of-type {
    margin-bottom: 0;
}

.intro {
  margin-bottom: var(--section-bottom-margin);
  max-width: 600px;
}

.intro p {
  font-size: 2rem;
}

.cards {
  list-style: none;
  padding: 0;
  margin-bottom: var(--element-bottom-margin);
  column-count: 1;
  column-gap: var(--card-gap);
}

.card > p:has(> time) {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cards > li {
  break-inside: avoid;
  margin-bottom: var(--card-gap);
}

.cards > li:last-child {
    margin-bottom: 0;
}

@media (min-width: 38rem) {
  .cards {
    column-count: 2;
  }
}

.card {
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  box-shadow: 0 2px 1px rgba(0,0,0,.05), 0 4px 2px rgba(0,0,0,.05), 0 8px 4px rgba(0,0,0,.05), 0 16px 8px rgba(0,0,0,.05);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card img {
    height: 40px;
    width: auto;
    margin-bottom: 1rem;
}

.card h3 {
    margin-bottom: 0.25rem;
}
.card h3 a {

    color: var(--color-link);
    text-decoration: none;
}
.card h3 a:hover,
.card h3 a:focus {
    text-decoration: underline;
}

.card h4 {
    margin-bottom: 0.25rem;
}

.card p,
.card ul {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 1.25rem;
}
.card ul {
    padding-left: 1.25rem;
    list-style-position: outside;
}

.card li {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.card p:last-child,
.card ul:last-child,
.card > a:last-child:not(:only-child) {
    margin-bottom: 0;
}


.card > a:last-child {
    margin-top: auto;
    padding-top: 1rem;
    display: inline-block;
}

.about-me ul ul {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.menuCards {
  list-style: none;
  padding: 0;
  display: flex;
  max-width: var(--content-max-width);
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.menuCards > li {
  flex-grow: 1;
  width: 15rem;
  display: flex;
  justify-content: center;
}

.menuCards img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 48rem) {
  body {
    --body-padding: 3rem;
  }
}

.contact {
  margin-bottom: var(--section-bottom-margin);
}

hr.footer-separator {
  border: none;
  height: 1px;
  background-color: #cccccc;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer.page-footer {
  margin-top: 0;
}